/* Don't change the existing CSS. */

.white-text {
  color:white;
  font-size: larger;
  
}
#outer-box {
  background-color: purple;
  padding: 10px;
}

.box{
  background-color: blue;
  padding: 10px;

}
p{
  color:yellow;
  font-size: large;
 
}
.inner-box{
  background-color: red;

 

}